<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDYiouhgp5MGEitWgPZNB34zO5Mo7cP_0s</string>
	<key>GCM_SENDER_ID</key>
	<string>842823934774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assignmentFirebase</string>
	<key>PROJECT_ID</key>
	<string>fir-assignment-fc4f7</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-assignment-fc4f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842823934774:ios:86d5fcd673fdb9e37cc997</string>
</dict>
</plist>